
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div class="collapse navbar-collapse justify-content-end">
        {% if user.is_authenticated %}
            <span class="navbar-text mr-3"> {{ user.username }}</span>
         
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
        {% endif %}
    </div>
  </nav>
  <h2>Create or Edit Course</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    
    {% if instructors %}
        <div class="form-group">
            <label for="instructor">Select Instructor:</label>
            <select name="instructor" id="instructor" class="form-control">
                {% for instructor in instructors %}
                    <option value="{{ instructor.id }}">{{ instructor.username }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    
    <button type="submit" class="btn btn-success">Save Course</button>
</form>

